Repository cleder/fastkml, pull requests merged in 2024-10, with the labels that each got.

#356 Fix inner boundaries for polygon #355
  fastkml/geometry.py
  tests/geometries/boundaries_test.py
  tests/geometries/geometry_test.py
  tests/geometries/polygon_test.py
  tests/repr_eq_test.py
Labels: Review effort [1-5]: 3, Tests, Bug fix

#358 1.0.alpha 13
  .github/workflows/run-all-tests.yml
  .pre-commit-config.yaml
  README.rst
  _typos.toml
  docs/HISTORY.rst
  docs/contributing.rst
  fastkml/about.py
  fastkml/atom.py
  fastkml/base.py
  fastkml/config.py
  fastkml/containers.py
  fastkml/data.py
  fastkml/enums.py
  fastkml/features.py
  fastkml/geometry.py
  fastkml/gx.py
  fastkml/helpers.py
  fastkml/kml.py
  fastkml/kml_base.py
  fastkml/links.py
  fastkml/mixins.py
  fastkml/overlays.py
  fastkml/registry.py
  fastkml/styles.py
  fastkml/times.py
  fastkml/views.py
  pyproject.toml
  tests/atom_test.py
  tests/base_test.py
  tests/config_test.py
  tests/geometries/boundaries_test.py
  tests/geometries/coordinates_test.py
  tests/geometries/geometry_test.py
  tests/geometries/polygon_test.py
  tests/kml_test.py
  tests/registry_test.py
  tests/repr_eq_test.py
  tests/styles_test.py
Labels: Review effort [1-5]: 4

#360 216 add output verbosity
  fastkml/base.py
  fastkml/enums.py
  fastkml/features.py
  fastkml/geometry.py
  fastkml/gx.py
  fastkml/helpers.py
  fastkml/kml.py
  fastkml/registry.py
  pyproject.toml
  tests/geometries/geometry_test.py
  tests/geometries/linestring_test.py
  tests/geometries/multigeometry_test.py
  tests/geometries/point_test.py
  tests/geometries/polygon_test.py
  tests/gx_test.py
  tests/ogc_conformance/data/kml/Document-places.kml
  tests/registry_test.py
Labels: Review effort [1-5]: 4

#364 361 test geometries with hypothesis
  .github/workflows/run-all-tests.yml
  .pre-commit-config.yaml
  docs/usage_guide.rst
  fastkml/features.py
  fastkml/geometry.py
  pyproject.toml
  tests/conftest.py
  tests/geometries/boundaries_test.py
  tests/geometries/coordinates_test.py
  tests/geometries/geometry_test.py
  tests/geometries/linearring_test.py
  tests/geometries/linestring_test.py
  tests/geometries/multigeometry_test.py
  tests/geometries/point_test.py
  tests/geometries/polygon_test.py
  tests/hypothesis/__init__.py
  tests/hypothesis/geometry_test.py
  tests/hypothesis/multi_geometry_test.py
Labels: enhancement, Review effort [1-5]: 4, Tests

#365 Improving Test coverage
  tests/containers_test.py
  tests/geometries/boundaries_test.py
  tests/geometries/functions_test.py
  tests/geometries/linestring_test.py
  tests/geometries/multigeometry_test.py
  tests/geometries/point_test.py
  tests/geometries/polygon_test.py
  tests/gx_test.py
  tests/helper_test.py
  tests/kml_test.py
  tests/overlays_test.py
  tests/styles_test.py
  tests/views_test.py
Labels: hacktoberfest-accepted, Review effort [1-5]: 3, Tests

#367 361, 352 improve coverage, test geometries with hypothesis
  fastkml/kml.py
  fastkml/links.py
  fastkml/overlays.py
  fastkml/styles.py
  fastkml/views.py
  tests/base.py
  tests/config_test.py
  tests/containers_test.py
  tests/features_test.py
  tests/geometries/boundaries_test.py
  tests/geometries/functions_test.py
  tests/geometries/linestring_test.py
  tests/geometries/multigeometry_test.py
  tests/geometries/point_test.py
  tests/geometries/polygon_test.py
  tests/gx_test.py
  tests/helper_test.py
  tests/hypothesis/multi_geometry_test.py
  tests/kml_test.py
  tests/overlays_test.py
  tests/styles_test.py
  tests/times_test.py
  tests/views_test.py
Labels: enhancement, Review effort [1-5]: 4, Tests

#371 269 improve the documentation with examples
  docs/Document-clean.kml
  docs/co2-per-capita-2020.jpg
  docs/configuration.rst
  docs/create_kml_files.rst
  docs/index.rst
  docs/installing.rst
  docs/modules.rst
  docs/quickstart.rst
  docs/reference_guide.rst
  docs/usage_guide.rst
  docs/working_with_kml.rst
  examples/CreateKml.py
  examples/README.md
  examples/co2_per_capita.jpg
  examples/ne_110m_admin_0_countries.README.html
  examples/ne_110m_admin_0_countries.cpg
  examples/ne_110m_admin_0_countries.dbf
  examples/ne_110m_admin_0_countries.prj
  examples/ne_110m_admin_0_countries.shp
  examples/ne_110m_admin_0_countries.shx
  examples/owid-co2-data.csv
  examples/read_kml.py
  examples/shp2kml.py
  examples/shp2kml_timed.py
  examples/simple_example.py
  fastkml/__init__.py
  fastkml/containers.py
  fastkml/features.py
  fastkml/geometry.py
  fastkml/utils.py
  pyproject.toml
  tests/containers_test.py
  tests/oldunit_test.py
  tests/utils_test.py
Labels: Review effort [1-5]: 3

#370 Removing oldunittests
  tests/features_test.py
  tests/helper_test.py
  tests/kml_test.py
  tests/oldunit_test.py
  tests/styles_test.py
Labels: Review effort [1-5]: 2, Tests

#373 218 validate against xsd schema
  .github/workflows/run-all-tests.yml
  .pre-commit-config.yaml
  docs/working_with_kml.rst
  examples/shp2kml.py
  examples/shp2kml_timed.py
  examples/simple_example.py
  examples/transform_cascading_style.py
  fastkml/data.py
  fastkml/enums.py
  fastkml/features.py
  fastkml/geometry.py
  fastkml/gx.py
  fastkml/helpers.py
  fastkml/links.py
  fastkml/schema/atom-author-link.xsd
  fastkml/schema/ogckml22.xsd
  fastkml/validate.py
  fastkml/views.py
  tests/base.py
  tests/geometries/geometry_test.py
  tests/geometries/multigeometry_test.py
  tests/geometries/polygon_test.py
  tests/gx_test.py
  tests/hypothesis/common.py
  tests/hypothesis/geometry_test.py
  tests/hypothesis/links_test.py
  tests/hypothesis/multi_geometry_test.py
  tests/overlays_test.py
Labels: Review effort [1-5]: 4
